<nav class="navbar navbar-expand-lg navbar-light">
    <img src="{{ asset('img/logo_application_sortir_2.png') }}" alt="Image pour sortir" width="110" height="110">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item item">
                <a class="nav-link" href="{{ path('app_main') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_main') }}">Villes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_main') }}">Campus</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Mon profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
